.footer-content {
    background-color: #212529;
    color: #fff;
    margin-top: 1.5em;
    height: 5em;
    padding: 1em;
    font-size: 80%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000;
}

.room-images {
    width: 50%;
}